# Module 1 File 2

1. For a given list that contains numbers from 1 to 20. Using a for loop, create a new list
that contains the square of each element from the given list.

In [1]:
ls=[]
for i in range(1,21):
    ls.append(i)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
lsq=[i**2 for i in ls]
lsq

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

2. For a given dictionary that contains numbers from 1-10 as keys, and their square as
values, display each key-value pair using a for loop.

In [4]:
l=[]
for i in range(1,11):
    l.append(i)
lq=[i**2 for i in l]
diction= dict(zip(l,lq))

In [5]:
diction

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

3. A tuple contains even numbers from 1-20. Display all the items in a tuple using a for
loop.

In [14]:
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
tup=print(tuple(l))
for i in l:
    print(i)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)
2
4
6
8
10
12
14
16
18
20

4. A set contains odd numbers from 1-20. Display the items in a set using a for loop.

In [17]:
st={a for a in range(1,21) if a%2!=0}  
print(st)
for i in st:
    print(i)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}
1
3
5
7
9
11
13
15
17
19

5. For a given sequence of nested lists, display the elements using a for loop.
a = [[1,2],[3,4],[5,6],[7,8]]

In [18]:
a = [[1,2],[3,4],[5,6],[7,8]]
print(a)

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [19]:
for i in a:
    print(i)

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [21]:
for i in a:
    print(i[0],i[1])

1 2
3 4
5 6
7 8

In [22]:
for j in a:
    for i in range(0,2):
        print(j[i])

1
2
3
4
5
6
7
8

In [29]:
j=[5,6]
j[0]

5

6.For a given sequence of nested dictionaries, display all the values in the dictionary.
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

In [30]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

In [31]:
a

{1: {'one': 1}, 2: {'two': 2}, 3: {'three': 3}}

In [32]:
for i in a.values():
    print(i)

{'one': 1}
{'two': 2}
{'three': 3}

In [33]:
b={'one':1}
b.items()

dict_items([('one', 1)])

In [35]:
for k,b in a.items():
    for k1,b1 in b.items():
        print(b1)

1
2
3

7. For a given list of natural numbers from 1-100, using the while loop, print only the
numbers that are divisible by 2.

In [37]:
num=[n for n in range(1,101)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [38]:
i=1
while(i<=len(num)):
    if i%2==0:
        print(i)
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

8. Print the first 5 multiples of 3 using a while loop

In [73]:
i=1
while(i<=5):
    print(i*3)
    i=i+1

3
6
9
12
15

9.For a given dictionary that contains the first 10 natural numbers as keys, and their cubes
as values, display the key value pairs using a while loop.

In [ ]:
d1={y:y*y*y for y in range(1,11)}
print(d1)
while i<=10:
        print(key,value)
        i=i+1

10. Write a program using a while loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [89]:
i=1
while i<=10:
    if i==4: 
        pass   
    elif i==8:
        break
    else:    
        print("Hey",i)
    i=i+1

Hey 1
Hey 2
Hey 3
Hey 5
Hey 6
Hey 7

11. Write a program using a for loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [98]:
num = 0

for num in range(10):
    if num == 3:
        continue  
    if num == 9:
        break 
    if num == 8:
        pass 

    print('Number is ' ,num)

Number is  0
Number is  1
Number is  2
Number is  4
Number is  5
Number is  6
Number is  7
Number is  8

12. Create a nested for loop to print a pyramid pattern program in python.

In [115]:
for i in range(1,6):
        print()
        for j in range(i):
            print("#", end= ' ')

#
# #
# # #
# # # #
# # # # #