# Module 1 - Getting Started with Python

1. Create a python file named Module.
a. Inside the file, define 4 methods named – addition, subtraction, multiplication,
and division.
b. Each method should only accept 2 arguments and should return the result of the
operation performed in each method. For e.g., addition() should return the sum of
two arguments.
c. Save the Module file in .py format.

2. Open a new python file and import the Module.py file.
a. Now call the 4 methods from the Module.py file, i.e., addition(), subtraction(),
multiplication(), and division().

In [1]:
import Module as m

In [2]:
m.addition(3,4)

7

In [4]:
m.subtraction(90,46)

44

In [5]:
m.multiplication(8,49)

392

In [6]:
m.division(78,9)

8.666666666666666

3. From the Module file, import only the addition() and pass the arguments so that it can
display the result from the method.

In [8]:
from Module import addition as a

In [9]:
a(56,78)

134

4. From the Module file, import only the subtraction() and pass the arguments so that it can
display the result from the method.

In [10]:
from Module import subtraction as s

In [11]:
s(45,9)

36

5.From the Module file, import both the multiplication() and division() and pass the
arguments so that it can display the result from the methods.

In [13]:
from Module import multiplication as m,division as d

In [14]:
m(8,78)

624

In [16]:
d(34,2)

17.0

6.Create a python if-else program to check if the given numbers are greater or not,
also
check whether the given number is an armstrong number or not, and 
check whether the given number is a prime number or not. 
Make use of python if-else, and elif statements
for the same.

In [21]:
a=input('enter 1st number: ')
b=input('enter 2nd number: ')
if a>b:
    print('a is greater than b:')
else:
    print ('b is greater than a:')

enter 1st number: 56
enter 2nd number: 90
b is greater than a:

In [22]:
#amstrong number
num = int(input("Enter the first number: "))
sum=0
temp=num
while(temp>0):
    digit=num%10
    sum+= digit**3 
    temp//=10
if sum==num:
    print('its amstrong number')
else:
    print('its amstrong number')

Enter the first number: 153
its amstrong number

In [24]:
#prime number
num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")

Enter a number: 73
73 is a prime number

7.Create a calculator program for addition, subtraction, multiplication and floor division.
Take the inputs from the user, and based on the choice of operation, return the results.

In [33]:
a=int(input('enter 1st number'))
b=int(input('enter 2nd number'))
c= input('function to be performed chose add, sub, multi or div:')
if c=='add':
    print(a+b)
elif c=='sub':
    print(a-b)
elif c=='multi':
    print(a*b)
elif c=='div':
    print(a//b)
else:
    print('wrong choice')

enter 1st number67
enter 2nd number78
function to be performed chose add, sub, multi or div:multi
5226

8. Create a fibonacci sequence using python if-else statements.

In [40]:
n=int(input("How many terms?"))
n1=0
n2=1
count=0
if n<=0:
    print("enter positive integer")
elif n==1:
    print(n1)
else:
    print("Fibonacci sequence:")
    while count<n:
        print(n1)
        nth=n1+n2
        #update values
        n1=n2
        n2=nth
        count+=1

How many terms?7
Fibonacci sequence:
0
1
1
2
3
5
8

9.Create a nested dictionary with values as a nested list for each key in the dictionary.

In [41]:
a={'key1':{'key1_1':[1,2,3,7]},'key2':[4,5,6],'key3':[2,5,7,7]}

In [42]:
a

{'key1': {'key1_1': [1, 2, 3, 7]}, 'key2': [4, 5, 6], 'key3': [2, 5, 7, 7]}

10. Create two sets and perform the following:
a. Union of the two sets
b. Intersection of the two sets

In [43]:
a={2,4,5,6,6,7,8,9,0}
b={0,2,3,4,5,5,6,8,9,23}

In [45]:
a.union(b)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 23}

In [46]:
a|b

{0, 2, 3, 4, 5, 6, 7, 8, 9, 23}

In [47]:
a.intersection(b)

{0, 2, 4, 5, 6, 8, 9}

In [48]:
a&b

{0, 2, 4, 5, 6, 8, 9}

11. Create a nested tuple from the dictionary, with each item in the tuple as a key value pair
from the dictionary.

In [49]:
a={'key1':1,'key2':2,'key3':3,4:4}

In [50]:
tuple(a.items())

(('key1', 1), ('key2', 2), ('key3', 3), (4, 4))

12. Create a list of the first 50 even natural numbers, and perform the following operations.
c. Count the number of elements in the list.
d. Reverse the sequence of the list.
e. Sort the list in ascending and descending order.
f. Get the index value for the element 44, and update the element with the number
100.
g. Return a copy of the list, with the resulting list containing the square of each
element.

In [51]:
even_list = []
for i in range(1,101):
    if i%2==0:
        even_list.append(i)
        
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [52]:
#number of elements
len(even_list)

50

In [53]:
#reverse the sequence of list
even_list[::-1]

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

In [54]:
#sort accending
even_list.sort()

In [55]:
even_list

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [56]:
#sort decendinge
even_list.sort(reverse=True)
print(even_list)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [58]:
#index value of 44
even_list.index(44)

28

In [59]:
#replacing 44 with 100
even_list[28]=100
print(even_list)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 100, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [60]:
#square of each element in even_list
[i**2 for i in even_list]

[10000,
 9604,
 9216,
 8836,
 8464,
 8100,
 7744,
 7396,
 7056,
 6724,
 6400,
 6084,
 5776,
 5476,
 5184,
 4900,
 4624,
 4356,
 4096,
 3844,
 3600,
 3364,
 3136,
 2916,
 2704,
 2500,
 2304,
 2116,
 10000,
 1764,
 1600,
 1444,
 1296,
 1156,
 1024,
 900,
 784,
 676,
 576,
 484,
 400,
 324,
 256,
 196,
 144,
 100,
 64,
 36,
 16,
 4]

13. Create a nested dictionary and perform the following operations.
h. Return a list with the key value pairs from the dictionary.
i. Return a list with just the keys from the dictionary.
j. Remove the first and last key value from the dictionary.

In [61]:
a={'ky1':1,'ky2':2,'ky3':3,'ky4':4,'ky5':5,'ky6':6}

In [66]:
#Return a list with the key value pairs from the dictionary
list(a.items())

[('ky1', 1), ('ky2', 2), ('ky3', 3), ('ky4', 4), ('ky5', 5), ('ky6', 6)]

In [68]:
#Return a list with just the keys from the dictionary
list(a.keys())

['ky1', 'ky2', 'ky3', 'ky4', 'ky5', 'ky6']

In [70]:
#Remove the first and last key value from the dictionary
a.pop('ky1'and 'ky6')
a

{'ky2': 2, 'ky3': 3, 'ky4': 4, 'ky5': 5}

14. For the given strings A = “Python Programming Language”, B = “Best in the World” , perform
the following operations.
l. Using indexing operations, get the text “gram” from the string A.
m. Using indexing operations, get the text “World” from the string B.
n. Change the letters in both strings to Uppercase letters.
o. Concatenate the two strings.

In [74]:
#Using indexing operations, get the text “gram” from the string A.
A = "Python Programming Language"
B = "Best in the World"
A[10:14]

'gram'

In [75]:
#Using indexing operations, get the text “World” from the string B#
B[-6:]

' World'

In [80]:
#changing into uppercase
A.upper()

'PYTHON PROGRAMMING LANGUAGE'

In [79]:
B.upper()

'BEST IN THE WORLD'

In [81]:
#Concatenate the two strings.
A +" "+B

'Python Programming Language Best in the World'

Create a list with n numbers, and using negative indexing return the list starting from the 5th
index to the n-2th index

In [85]:
_list=[]
n=int(input("How many numbers you want to input?"))
for i in range(n):
    a=int(input("enter the number:"))
    _list.append(a)
print(_list)

How many numbers you want to input?10
enter the number:1
enter the number:6
enter the number:4
enter the number:7
enter the number:3
enter the number:7
enter the number:3
enter the number:3
enter the number:2
enter the number:0
[1, 6, 4, 7, 3, 7, 3, 3, 2, 0]

In [86]:
_list[(5-n-1):(n-3)]

[3, 7, 3]

16. Using range(), create a list with numbers ranging from 5-100, and the number of elements
should be exactly 19.

In [87]:
ls = [x for x in range(5,100,5) if x%5==0]
print(ls)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [88]:
len(ls)

19